@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

header{
    height: 88px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#4e2400;
    color: white;
}

.logo{
    font-weight: bold;
    font-size: 35px;
    color: #ffa95e;
    cursor:pointer;
}

nav ul{

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin: 0 10px;
    font-size: 18px;
    padding: 10px 15px;
    cursor: pointer;
    
}

nav ul li:hover{
    background-color: #ffa95e;
    color: #4e2400;
    transition: 1s;
}

.mobile-menu{
    display: none;
    width: 30px;
    height: 30px;
}

.mobile-menu img{
    object-fit: cover;
    width: 100%;
    height:100%
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #fde5d1;
}

.hero h1{
    font-size: 60px;
    color: #4e2400;
    text-align: center;
    width: 80%;
}

.hero p{
    width: 70%;
    text-align: center;
    color:#4e2400;
    margin:30px auto;
    font-size: 24px;;
}

button{
    padding:15px 25px;
    background-color: #4e2400;
    color: #ffa95e;
    border: none;
    font-size: 20px;
}

/* feature starts here */

.feature{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.feature article{
    height: 300px;
    width: 25%;
    background-color: #ffa95e;
    position: relative;
}

.feature article .article-image{
    width: 100%;
    height: 300px;
    z-index: 1;
    position: absolute;
    top:0px;
    left: 0px;
}

.feature article .article-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.feature .overlay{
    width: 100%;
    height: 100%;
    background-color: #4e2400bb;
    position: absolute;
    top:0px;
    left:0px;
    z-index: 3;
}

/* Footer starts here */

footer{
    background-color: #4e2400;
    color:#fff;
    padding:30px 35px;
}
.footer_top_area{
display:flex;
justify-content: space-between;
align-items: flex-start;

}

.footer_top_area div{
    width:33%
}

.footer_logo_col p{ 

width: 90%;
font-size: 18px;
line-height: 28px;
}

h5{
    color: #ffa95e;
    margin-bottom: 20px;
    font-size: 20px;
}

.footer_nav_col ul li{
    list-style-type: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    width: fit-content;
}

.footer_nav_col ul li:hover{
   background-color: #ffa95e;
   color: #4e2400;
   transition: .8s;
   cursor: pointer;
}

.footer_contact_col p{
    margin-bottom: 20px;
}

.footer_bottom_area{
    text-align: center;
    margin-top:20px;
}

/* Footer ends here */
/* 
CTA begins here */

.cta{
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cta h2{
    color: #4e2400;
    font-size: 24px;
}

.cta input{
    margin:20px;
    width:400px;
    padding:12px;
    border-radius: 12px;
    border: 1px solid #ffa95e;
    outline: none;
    font-size:16px;
    caret-color: #ffa95e;
}

/* .cta input::placeholder{
    color: red;;
} */

/* ads starts here */

.ads{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 30px;
}

.ads div{
    width: 300px;
    margin: 15px;
    height: 350px;
    background-color: #ffa95e;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding:20px;

}


@media screen and (max-width:767px){
    
header{
        padding:10px
    }
    
    header .logo{
        font-size: 28px;
        cursor: pointer;
    }
    
    nav ul{
        display:none;
    }
    .mobile-menu{
        display:block;
        cursor:pointer;
    }

    .hero h1{
        font-size: 40px;
        width:90%;
    }

    .hero p{
        font-size: 18px;
        width:90%;
    }

    button{
        padding: 10px 20px;
        font-size: 16px;
    }

    .feature article{
        width: 50%;
        
    }

    .footer_top_area{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer_top_area div{
        width: 100%;
        margin-bottom: 30px;
    }

    .footer_logo_col p{ 

        width: 100%;
        }

    .footer_nav_col ul li{
        width: 100%;
    }

    .cta h2{
    width: 90%;
    }

.cta input{
        width: 70%;
    
    }

    .ads{
        flex-direction: column;
}